* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.cointainer-fluid {
  box-sizing: border-box;
}
#carrouselImagenes {
  position: absolute;
}

.card-tittle1 {
  justify-items: center;
  text-align: justify;
  width: 20px;
  display: flex;
}

.Navbar {
  background-color: dimgrey;
}

.card {
  padding-left: 100px;
  padding-right: 80px;
  text-align: left;
  box-sizing: border-box;
  margin-top: 0%;
  text-justify: auto;
}
.card-superpuesta img {
  filter: brightness(60%);
}
.card-text{
  font-size: small;
  text-align: justify;
}
  

.card-img-overlay {
  text-align: right;
}
.card-title {
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-block: 2px;
  text-justify: auto;
}
.botonesOradores {
  width: 10px;
  display: flex;
}
.Playa {
  display: flex;
  gap: 1px;
}
.img-playa {
  width: 50%;
}
.texto-BsAs-Octubre {
  width: 50%;
  padding: 40px;
  background-color: darkslategrey;
  color: aliceblue;
  text-align: justify;
}
h5 {
  text-align: center;
}
h4 {
  text-align: center;
}
.custom-border
{
  padding: 20px;
  margin: 10px;
}
.custom-border.Estudiante
{
    border: 1px solid #3210f09d;
   
}

.custom-border.Trainee
{
    border: 1px solid #061172;
   
}

.custom-border.Junior
{
    border: 1px solid #f0e110;
   
}

.tituloDescuento
{
    font-weight: bold ;
    font-size: large;
    text-align: center;
}

.textoDescuento
{
    text-align: center;
    color: #566573;
}

.porcDescuento
{
    text-align: center;
    font-weight: bold;
}
.notaDescuento
{
    text-align: center;
    color:#566573;
}

#tituloTickets
{
    text-align: center;
}


#cuadroTotalAPagar
{
    background-color: rgb(154, 224, 245);
    max-height: 4rem;
    
}

#textoTotalAPagar
{
    color: darkslateblue;
    font-size: large;
}